body {
    font-size: 18px;
}

.words {
    width: 100%;
    display: flex;
}

.word {
    flex: 1;
    text-align: center;
    margin: 5px;
    padding: 10px 0px;
    background: rgba(0, 0, 0, 0.3);
}