<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Test</title>

    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <h1>Check Comment <div class="box"></div></h1>

    <div style="width: 80%">
        <textarea id="comment" cols="30" rows="10"></textarea>
        <br>

        <button id="btn" style="float: right">Check</button>
    </div>


    <script src="/static/main.js"></script>
</body>
</html>