<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Test</title>

    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <h1>Hello world</h1>



<!--
    <h1>Hello world</h1>

    <div class="test">
        <p>არის ეს ორი ერთიდაიგივე?</p>
        <div class="words">
            <div class="word">ცეხი</div>
            <div class="word">ცეხი.ჯი</div>
        </div>
        <div class="choices">
            <button>კი</button>
            <button>არა</button>
        </div>
    </div> -->


    <script src="/static/main.js"></script>
</body>
</html>